@page "/books"

<PageTitle>Books</PageTitle>

<h1>Our Books</h1>
<hr/>

@* If our books are not done loading, display loading message. *@
@if(IsLoading) {
    <p>Retrieving Books...</p>
} else if (!ErrorOcurred){
    @* Otherwise, Display the titles of our retrieved books *@
    @foreach(BookResponse book in Books) {
        <p>@book.Title</p>
    }
} else {
    @* If we are here, we know that we are not loading, and that an error occurred. *@
    <p class="error">@ErrorMessage</p>
}

<hr/>
<BookCreateForm/>